<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbngbT93vZCHtGYih_G7pNh-F8Fz87GwE</string>
	<key>GCM_SENDER_ID</key>
	<string>311855283222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nirnayan.nhcplpayments</string>
	<key>PROJECT_ID</key>
	<string>nhcpl-payments</string>
	<key>STORAGE_BUCKET</key>
	<string>nhcpl-payments.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:311855283222:ios:ade5f1210cc177c29f4937</string>
</dict>
</plist>
